.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .title{
    color: gray;
    font-weight: bold;
  }
  .detailValue{
    display: flex;
    font-weight: 500;
  }